*{
    margin:0;
    padding:0;    
}
$roboto:'Roboto';
$cursive_font:'Satisfy';
$round:'Varela Round';
$primery_color:#2d313c;
$secondary_color:#ffbe00;
$color:#babbbf;

.d_flex{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color:$primery_color;
    width:100%;
    height:100%;
    overflow:hidden;
}
 
.bg_img {
    position: fixed;
    right: 0;
    top: 0;
  
    height: 100%;
    img {
        width: 70vh;
        display: block;
    }
}

.container {
    display: block;
    box-sizing: border-box;
    max-width: 1650px;
    width: 90%;
    padding: 50px 110px 130px;
    color: #fff;
    position: relative;
    z-index: 1;
}

header {
    @extend .d_flex;
    justify-content: space-between;
    font-family: $round;
    .logo {
        width: 20%;
        font-size: 20px;
        color: $secondary_color;
    }
    ul {
        display: flex;
        width: 60%;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        li {
            font-size: 16px;
            color: #ffbe00;
            +li {
                margin-left: 50px;
            }
            &.active {
                color: $color;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    width: 20px;
                    height: 2px;
                    background-color: $color;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .search_nav {
        display: flex;
        justify-content: flex-end;
        color: $primary_color;
        .fa {
            font-size: 20px;
            +.fa {
                margin-left: 30px;
            }
        }
    }
}